html{
	height: 100%;
}

body{
	height: 100%;
	margin: 0;
	background-color: crimson;
}

#map{
	display: grid;
	grid-template-columns: repeat(20 , 1fr);
	grid-template-rows: repeat(20 , 1fr);


	margin: auto;

	position: relative;

	height: 100vh;
 	width: 100vh;
	z-index: 1;
}

.square{
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

.innersquare{
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

#menu{
	display: none;
	padding: 10px;
	padding-top: 50px;
	background-color: rgba(63, 191, 184, 0.41);
	border: 5px solid lightblue;
	border-radius: 0px 50px 50px 0px;
	position: absolute;
	z-index: 2;
	height: 60%;
}

#accessMenu{
	background-color: rgba(63, 191, 184, 0.90);
	border: 5px solid lightblue;
	height: 5vh;
	width: 5vh;
	position: absolute;
	border-radius: 0px 50px 50px 50px;
	z-index: 3;
}

img{
	max-width:100%;
	max-height:100%;
}

/*
#square1-1{
grid-row:1/2;
grid-column:1/2;
}
#square1-2{
grid-row:1/2;
grid-column:2/3;
}
#square1-3{
grid-row:1/2;
grid-column:3/4;
}
#square1-4{
grid-row:1/2;
grid-column:4/5;
}
#square1-5{
grid-row:1/2;
grid-column:5/6;
}
#square1-6{
grid-row:1/2;
grid-column:6/7;
}
#square1-7{
grid-row:1/2;
grid-column:7/8;
}
#square1-8{
grid-row:1/2;
grid-column:8/9;
}
#square1-9{
grid-row:1/2;
grid-column:9/10;
}
#square1-10{
grid-row:1/2;
grid-column:10/11;
}
#square1-11{
grid-row:1/2;
grid-column:11/12;
}
#square1-12{
grid-row:1/2;
grid-column:12/13;
}
#square1-13{
grid-row:1/2;
grid-column:13/14;
}
#square1-14{
grid-row:1/2;
grid-column:14/15;
}
#square1-15{
grid-row:1/2;
grid-column:15/16;
}
#square1-16{
grid-row:1/2;
grid-column:16/17;
}
#square1-17{
grid-row:1/2;
grid-column:17/18;
}
#square1-18{
grid-row:1/2;
grid-column:18/19;
}
#square1-19{
grid-row:1/2;
grid-column:19/20;
}
#square1-20{
grid-row:1/2;
grid-column:20/21;
}
#square2-1{
grid-row:2/3;
grid-column:1/2;
}
#square2-2{
grid-row:2/3;
grid-column:2/3;
}
#square2-3{
grid-row:2/3;
grid-column:3/4;
}
#square2-4{
grid-row:2/3;
grid-column:4/5;
}
#square2-5{
grid-row:2/3;
grid-column:5/6;
}
#square2-6{
grid-row:2/3;
grid-column:6/7;
}
#square2-7{
grid-row:2/3;
grid-column:7/8;
}
#square2-8{
grid-row:2/3;
grid-column:8/9;
}
#square2-9{
grid-row:2/3;
grid-column:9/10;
}
#square2-10{
grid-row:2/3;
grid-column:10/11;
}
#square2-11{
grid-row:2/3;
grid-column:11/12;
}
#square2-12{
grid-row:2/3;
grid-column:12/13;
}
#square2-13{
grid-row:2/3;
grid-column:13/14;
}
#square2-14{
grid-row:2/3;
grid-column:14/15;
}
#square2-15{
grid-row:2/3;
grid-column:15/16;
}
#square2-16{
grid-row:2/3;
grid-column:16/17;
}
#square2-17{
grid-row:2/3;
grid-column:17/18;
}
#square2-18{
grid-row:2/3;
grid-column:18/19;
}
#square2-19{
grid-row:2/3;
grid-column:19/20;
}
#square2-20{
grid-row:2/3;
grid-column:20/21;
}
#square3-1{
grid-row:3/4;
grid-column:1/2;
}
#square3-2{
grid-row:3/4;
grid-column:2/3;
}
#square3-3{
grid-row:3/4;
grid-column:3/4;
}
#square3-4{
grid-row:3/4;
grid-column:4/5;
}
#square3-5{
grid-row:3/4;
grid-column:5/6;
}
#square3-6{
grid-row:3/4;
grid-column:6/7;
}
#square3-7{
grid-row:3/4;
grid-column:7/8;
}
#square3-8{
grid-row:3/4;
grid-column:8/9;
}
#square3-9{
grid-row:3/4;
grid-column:9/10;
}
#square3-10{
grid-row:3/4;
grid-column:10/11;
}
#square3-11{
grid-row:3/4;
grid-column:11/12;
}
#square3-12{
grid-row:3/4;
grid-column:12/13;
}
#square3-13{
grid-row:3/4;
grid-column:13/14;
}
#square3-14{
grid-row:3/4;
grid-column:14/15;
}
#square3-15{
grid-row:3/4;
grid-column:15/16;
}
#square3-16{
grid-row:3/4;
grid-column:16/17;
}
#square3-17{
grid-row:3/4;
grid-column:17/18;
}
#square3-18{
grid-row:3/4;
grid-column:18/19;
}
#square3-19{
grid-row:3/4;
grid-column:19/20;
}
#square3-20{
grid-row:3/4;
grid-column:20/21;
}
#square4-1{
grid-row:4/5;
grid-column:1/2;
}
#square4-2{
grid-row:4/5;
grid-column:2/3;
}
#square4-3{
grid-row:4/5;
grid-column:3/4;
}
#square4-4{
grid-row:4/5;
grid-column:4/5;
}
#square4-5{
grid-row:4/5;
grid-column:5/6;
}
#square4-6{
grid-row:4/5;
grid-column:6/7;
}
#square4-7{
grid-row:4/5;
grid-column:7/8;
}
#square4-8{
grid-row:4/5;
grid-column:8/9;
}
#square4-9{
grid-row:4/5;
grid-column:9/10;
}
#square4-10{
grid-row:4/5;
grid-column:10/11;
}
#square4-11{
grid-row:4/5;
grid-column:11/12;
}
#square4-12{
grid-row:4/5;
grid-column:12/13;
}
#square4-13{
grid-row:4/5;
grid-column:13/14;
}
#square4-14{
grid-row:4/5;
grid-column:14/15;
}
#square4-15{
grid-row:4/5;
grid-column:15/16;
}
#square4-16{
grid-row:4/5;
grid-column:16/17;
}
#square4-17{
grid-row:4/5;
grid-column:17/18;
}
#square4-18{
grid-row:4/5;
grid-column:18/19;
}
#square4-19{
grid-row:4/5;
grid-column:19/20;
}
#square4-20{
grid-row:4/5;
grid-column:20/21;
}
#square5-1{
grid-row:5/6;
grid-column:1/2;
}
#square5-2{
grid-row:5/6;
grid-column:2/3;
}
#square5-3{
grid-row:5/6;
grid-column:3/4;
}
#square5-4{
grid-row:5/6;
grid-column:4/5;
}
#square5-5{
grid-row:5/6;
grid-column:5/6;
}
#square5-6{
grid-row:5/6;
grid-column:6/7;
}
#square5-7{
grid-row:5/6;
grid-column:7/8;
}
#square5-8{
grid-row:5/6;
grid-column:8/9;
}
#square5-9{
grid-row:5/6;
grid-column:9/10;
}
#square5-10{
grid-row:5/6;
grid-column:10/11;
}
#square5-11{
grid-row:5/6;
grid-column:11/12;
}
#square5-12{
grid-row:5/6;
grid-column:12/13;
}
#square5-13{
grid-row:5/6;
grid-column:13/14;
}
#square5-14{
grid-row:5/6;
grid-column:14/15;
}
#square5-15{
grid-row:5/6;
grid-column:15/16;
}
#square5-16{
grid-row:5/6;
grid-column:16/17;
}
#square5-17{
grid-row:5/6;
grid-column:17/18;
}
#square5-18{
grid-row:5/6;
grid-column:18/19;
}
#square5-19{
grid-row:5/6;
grid-column:19/20;
}
#square5-20{
grid-row:5/6;
grid-column:20/21;
}
#square6-1{
grid-row:6/7;
grid-column:1/2;
}
#square6-2{
grid-row:6/7;
grid-column:2/3;
}
#square6-3{
grid-row:6/7;
grid-column:3/4;
}
#square6-4{
grid-row:6/7;
grid-column:4/5;
}
#square6-5{
grid-row:6/7;
grid-column:5/6;
}
#square6-6{
grid-row:6/7;
grid-column:6/7;
}
#square6-7{
grid-row:6/7;
grid-column:7/8;
}
#square6-8{
grid-row:6/7;
grid-column:8/9;
}
#square6-9{
grid-row:6/7;
grid-column:9/10;
}
#square6-10{
grid-row:6/7;
grid-column:10/11;
}
#square6-11{
grid-row:6/7;
grid-column:11/12;
}
#square6-12{
grid-row:6/7;
grid-column:12/13;
}
#square6-13{
grid-row:6/7;
grid-column:13/14;
}
#square6-14{
grid-row:6/7;
grid-column:14/15;
}
#square6-15{
grid-row:6/7;
grid-column:15/16;
}
#square6-16{
grid-row:6/7;
grid-column:16/17;
}
#square6-17{
grid-row:6/7;
grid-column:17/18;
}
#square6-18{
grid-row:6/7;
grid-column:18/19;
}
#square6-19{
grid-row:6/7;
grid-column:19/20;
}
#square6-20{
grid-row:6/7;
grid-column:20/21;
}
#square7-1{
grid-row:7/8;
grid-column:1/2;
}
#square7-2{
grid-row:7/8;
grid-column:2/3;
}
#square7-3{
grid-row:7/8;
grid-column:3/4;
}
#square7-4{
grid-row:7/8;
grid-column:4/5;
}
#square7-5{
grid-row:7/8;
grid-column:5/6;
}
#square7-6{
grid-row:7/8;
grid-column:6/7;
}
#square7-7{
grid-row:7/8;
grid-column:7/8;
}
#square7-8{
grid-row:7/8;
grid-column:8/9;
}
#square7-9{
grid-row:7/8;
grid-column:9/10;
}
#square7-10{
grid-row:7/8;
grid-column:10/11;
}
#square7-11{
grid-row:7/8;
grid-column:11/12;
}
#square7-12{
grid-row:7/8;
grid-column:12/13;
}
#square7-13{
grid-row:7/8;
grid-column:13/14;
}
#square7-14{
grid-row:7/8;
grid-column:14/15;
}
#square7-15{
grid-row:7/8;
grid-column:15/16;
}
#square7-16{
grid-row:7/8;
grid-column:16/17;
}
#square7-17{
grid-row:7/8;
grid-column:17/18;
}
#square7-18{
grid-row:7/8;
grid-column:18/19;
}
#square7-19{
grid-row:7/8;
grid-column:19/20;
}
#square7-20{
grid-row:7/8;
grid-column:20/21;
}
#square8-1{
grid-row:8/9;
grid-column:1/2;
}
#square8-2{
grid-row:8/9;
grid-column:2/3;
}
#square8-3{
grid-row:8/9;
grid-column:3/4;
}
#square8-4{
grid-row:8/9;
grid-column:4/5;
}
#square8-5{
grid-row:8/9;
grid-column:5/6;
}
#square8-6{
grid-row:8/9;
grid-column:6/7;
}
#square8-7{
grid-row:8/9;
grid-column:7/8;
}
#square8-8{
grid-row:8/9;
grid-column:8/9;
}
#square8-9{
grid-row:8/9;
grid-column:9/10;
}
#square8-10{
grid-row:8/9;
grid-column:10/11;
}
#square8-11{
grid-row:8/9;
grid-column:11/12;
}
#square8-12{
grid-row:8/9;
grid-column:12/13;
}
#square8-13{
grid-row:8/9;
grid-column:13/14;
}
#square8-14{
grid-row:8/9;
grid-column:14/15;
}
#square8-15{
grid-row:8/9;
grid-column:15/16;
}
#square8-16{
grid-row:8/9;
grid-column:16/17;
}
#square8-17{
grid-row:8/9;
grid-column:17/18;
}
#square8-18{
grid-row:8/9;
grid-column:18/19;
}
#square8-19{
grid-row:8/9;
grid-column:19/20;
}
#square8-20{
grid-row:8/9;
grid-column:20/21;
}
#square9-1{
grid-row:9/10;
grid-column:1/2;
}
#square9-2{
grid-row:9/10;
grid-column:2/3;
}
#square9-3{
grid-row:9/10;
grid-column:3/4;
}
#square9-4{
grid-row:9/10;
grid-column:4/5;
}
#square9-5{
grid-row:9/10;
grid-column:5/6;
}
#square9-6{
grid-row:9/10;
grid-column:6/7;
}
#square9-7{
grid-row:9/10;
grid-column:7/8;
}
#square9-8{
grid-row:9/10;
grid-column:8/9;
}
#square9-9{
grid-row:9/10;
grid-column:9/10;
}
#square9-10{
grid-row:9/10;
grid-column:10/11;
}
#square9-11{
grid-row:9/10;
grid-column:11/12;
}
#square9-12{
grid-row:9/10;
grid-column:12/13;
}
#square9-13{
grid-row:9/10;
grid-column:13/14;
}
#square9-14{
grid-row:9/10;
grid-column:14/15;
}
#square9-15{
grid-row:9/10;
grid-column:15/16;
}
#square9-16{
grid-row:9/10;
grid-column:16/17;
}
#square9-17{
grid-row:9/10;
grid-column:17/18;
}
#square9-18{
grid-row:9/10;
grid-column:18/19;
}
#square9-19{
grid-row:9/10;
grid-column:19/20;
}
#square9-20{
grid-row:9/10;
grid-column:20/21;
}
#square10-1{
grid-row:10/11;
grid-column:1/2;
}
#square10-2{
grid-row:10/11;
grid-column:2/3;
}
#square10-3{
grid-row:10/11;
grid-column:3/4;
}
#square10-4{
grid-row:10/11;
grid-column:4/5;
}
#square10-5{
grid-row:10/11;
grid-column:5/6;
}
#square10-6{
grid-row:10/11;
grid-column:6/7;
}
#square10-7{
grid-row:10/11;
grid-column:7/8;
}
#square10-8{
grid-row:10/11;
grid-column:8/9;
}
#square10-9{
grid-row:10/11;
grid-column:9/10;
}
#square10-10{
grid-row:10/11;
grid-column:10/11;
}
#square10-11{
grid-row:10/11;
grid-column:11/12;
}
#square10-12{
grid-row:10/11;
grid-column:12/13;
}
#square10-13{
grid-row:10/11;
grid-column:13/14;
}
#square10-14{
grid-row:10/11;
grid-column:14/15;
}
#square10-15{
grid-row:10/11;
grid-column:15/16;
}
#square10-16{
grid-row:10/11;
grid-column:16/17;
}
#square10-17{
grid-row:10/11;
grid-column:17/18;
}
#square10-18{
grid-row:10/11;
grid-column:18/19;
}
#square10-19{
grid-row:10/11;
grid-column:19/20;
}
#square10-20{
grid-row:10/11;
grid-column:20/21;
}
#square11-1{
grid-row:11/12;
grid-column:1/2;
}
#square11-2{
grid-row:11/12;
grid-column:2/3;
}
#square11-3{
grid-row:11/12;
grid-column:3/4;
}
#square11-4{
grid-row:11/12;
grid-column:4/5;
}
#square11-5{
grid-row:11/12;
grid-column:5/6;
}
#square11-6{
grid-row:11/12;
grid-column:6/7;
}
#square11-7{
grid-row:11/12;
grid-column:7/8;
}
#square11-8{
grid-row:11/12;
grid-column:8/9;
}
#square11-9{
grid-row:11/12;
grid-column:9/10;
}
#square11-10{
grid-row:11/12;
grid-column:10/11;
}
#square11-11{
grid-row:11/12;
grid-column:11/12;
}
#square11-12{
grid-row:11/12;
grid-column:12/13;
}
#square11-13{
grid-row:11/12;
grid-column:13/14;
}
#square11-14{
grid-row:11/12;
grid-column:14/15;
}
#square11-15{
grid-row:11/12;
grid-column:15/16;
}
#square11-16{
grid-row:11/12;
grid-column:16/17;
}
#square11-17{
grid-row:11/12;
grid-column:17/18;
}
#square11-18{
grid-row:11/12;
grid-column:18/19;
}
#square11-19{
grid-row:11/12;
grid-column:19/20;
}
#square11-20{
grid-row:11/12;
grid-column:20/21;
}
#square12-1{
grid-row:12/13;
grid-column:1/2;
}
#square12-2{
grid-row:12/13;
grid-column:2/3;
}
#square12-3{
grid-row:12/13;
grid-column:3/4;
}
#square12-4{
grid-row:12/13;
grid-column:4/5;
}
#square12-5{
grid-row:12/13;
grid-column:5/6;
}
#square12-6{
grid-row:12/13;
grid-column:6/7;
}
#square12-7{
grid-row:12/13;
grid-column:7/8;
}
#square12-8{
grid-row:12/13;
grid-column:8/9;
}
#square12-9{
grid-row:12/13;
grid-column:9/10;
}
#square12-10{
grid-row:12/13;
grid-column:10/11;
}
#square12-11{
grid-row:12/13;
grid-column:11/12;
}
#square12-12{
grid-row:12/13;
grid-column:12/13;
}
#square12-13{
grid-row:12/13;
grid-column:13/14;
}
#square12-14{
grid-row:12/13;
grid-column:14/15;
}
#square12-15{
grid-row:12/13;
grid-column:15/16;
}
#square12-16{
grid-row:12/13;
grid-column:16/17;
}
#square12-17{
grid-row:12/13;
grid-column:17/18;
}
#square12-18{
grid-row:12/13;
grid-column:18/19;
}
#square12-19{
grid-row:12/13;
grid-column:19/20;
}
#square12-20{
grid-row:12/13;
grid-column:20/21;
}
#square13-1{
grid-row:13/14;
grid-column:1/2;
}
#square13-2{
grid-row:13/14;
grid-column:2/3;
}
#square13-3{
grid-row:13/14;
grid-column:3/4;
}
#square13-4{
grid-row:13/14;
grid-column:4/5;
}
#square13-5{
grid-row:13/14;
grid-column:5/6;
}
#square13-6{
grid-row:13/14;
grid-column:6/7;
}
#square13-7{
grid-row:13/14;
grid-column:7/8;
}
#square13-8{
grid-row:13/14;
grid-column:8/9;
}
#square13-9{
grid-row:13/14;
grid-column:9/10;
}
#square13-10{
grid-row:13/14;
grid-column:10/11;
}
#square13-11{
grid-row:13/14;
grid-column:11/12;
}
#square13-12{
grid-row:13/14;
grid-column:12/13;
}
#square13-13{
grid-row:13/14;
grid-column:13/14;
}
#square13-14{
grid-row:13/14;
grid-column:14/15;
}
#square13-15{
grid-row:13/14;
grid-column:15/16;
}
#square13-16{
grid-row:13/14;
grid-column:16/17;
}
#square13-17{
grid-row:13/14;
grid-column:17/18;
}
#square13-18{
grid-row:13/14;
grid-column:18/19;
}
#square13-19{
grid-row:13/14;
grid-column:19/20;
}
#square13-20{
grid-row:13/14;
grid-column:20/21;
}
#square14-1{
grid-row:14/15;
grid-column:1/2;
}
#square14-2{
grid-row:14/15;
grid-column:2/3;
}
#square14-3{
grid-row:14/15;
grid-column:3/4;
}
#square14-4{
grid-row:14/15;
grid-column:4/5;
}
#square14-5{
grid-row:14/15;
grid-column:5/6;
}
#square14-6{
grid-row:14/15;
grid-column:6/7;
}
#square14-7{
grid-row:14/15;
grid-column:7/8;
}
#square14-8{
grid-row:14/15;
grid-column:8/9;
}
#square14-9{
grid-row:14/15;
grid-column:9/10;
}
#square14-10{
grid-row:14/15;
grid-column:10/11;
}
#square14-11{
grid-row:14/15;
grid-column:11/12;
}
#square14-12{
grid-row:14/15;
grid-column:12/13;
}
#square14-13{
grid-row:14/15;
grid-column:13/14;
}
#square14-14{
grid-row:14/15;
grid-column:14/15;
}
#square14-15{
grid-row:14/15;
grid-column:15/16;
}
#square14-16{
grid-row:14/15;
grid-column:16/17;
}
#square14-17{
grid-row:14/15;
grid-column:17/18;
}
#square14-18{
grid-row:14/15;
grid-column:18/19;
}
#square14-19{
grid-row:14/15;
grid-column:19/20;
}
#square14-20{
grid-row:14/15;
grid-column:20/21;
}
#square15-1{
grid-row:15/16;
grid-column:1/2;
}
#square15-2{
grid-row:15/16;
grid-column:2/3;
}
#square15-3{
grid-row:15/16;
grid-column:3/4;
}
#square15-4{
grid-row:15/16;
grid-column:4/5;
}
#square15-5{
grid-row:15/16;
grid-column:5/6;
}
#square15-6{
grid-row:15/16;
grid-column:6/7;
}
#square15-7{
grid-row:15/16;
grid-column:7/8;
}
#square15-8{
grid-row:15/16;
grid-column:8/9;
}
#square15-9{
grid-row:15/16;
grid-column:9/10;
}
#square15-10{
grid-row:15/16;
grid-column:10/11;
}
#square15-11{
grid-row:15/16;
grid-column:11/12;
}
#square15-12{
grid-row:15/16;
grid-column:12/13;
}
#square15-13{
grid-row:15/16;
grid-column:13/14;
}
#square15-14{
grid-row:15/16;
grid-column:14/15;
}
#square15-15{
grid-row:15/16;
grid-column:15/16;
}
#square15-16{
grid-row:15/16;
grid-column:16/17;
}
#square15-17{
grid-row:15/16;
grid-column:17/18;
}
#square15-18{
grid-row:15/16;
grid-column:18/19;
}
#square15-19{
grid-row:15/16;
grid-column:19/20;
}
#square15-20{
grid-row:15/16;
grid-column:20/21;
}
#square16-1{
grid-row:16/17;
grid-column:1/2;
}
#square16-2{
grid-row:16/17;
grid-column:2/3;
}
#square16-3{
grid-row:16/17;
grid-column:3/4;
}
#square16-4{
grid-row:16/17;
grid-column:4/5;
}
#square16-5{
grid-row:16/17;
grid-column:5/6;
}
#square16-6{
grid-row:16/17;
grid-column:6/7;
}
#square16-7{
grid-row:16/17;
grid-column:7/8;
}
#square16-8{
grid-row:16/17;
grid-column:8/9;
}
#square16-9{
grid-row:16/17;
grid-column:9/10;
}
#square16-10{
grid-row:16/17;
grid-column:10/11;
}
#square16-11{
grid-row:16/17;
grid-column:11/12;
}
#square16-12{
grid-row:16/17;
grid-column:12/13;
}
#square16-13{
grid-row:16/17;
grid-column:13/14;
}
#square16-14{
grid-row:16/17;
grid-column:14/15;
}
#square16-15{
grid-row:16/17;
grid-column:15/16;
}
#square16-16{
grid-row:16/17;
grid-column:16/17;
}
#square16-17{
grid-row:16/17;
grid-column:17/18;
}
#square16-18{
grid-row:16/17;
grid-column:18/19;
}
#square16-19{
grid-row:16/17;
grid-column:19/20;
}
#square16-20{
grid-row:16/17;
grid-column:20/21;
}
#square17-1{
grid-row:17/18;
grid-column:1/2;
}
#square17-2{
grid-row:17/18;
grid-column:2/3;
}
#square17-3{
grid-row:17/18;
grid-column:3/4;
}
#square17-4{
grid-row:17/18;
grid-column:4/5;
}
#square17-5{
grid-row:17/18;
grid-column:5/6;
}
#square17-6{
grid-row:17/18;
grid-column:6/7;
}
#square17-7{
grid-row:17/18;
grid-column:7/8;
}
#square17-8{
grid-row:17/18;
grid-column:8/9;
}
#square17-9{
grid-row:17/18;
grid-column:9/10;
}
#square17-10{
grid-row:17/18;
grid-column:10/11;
}
#square17-11{
grid-row:17/18;
grid-column:11/12;
}
#square17-12{
grid-row:17/18;
grid-column:12/13;
}
#square17-13{
grid-row:17/18;
grid-column:13/14;
}
#square17-14{
grid-row:17/18;
grid-column:14/15;
}
#square17-15{
grid-row:17/18;
grid-column:15/16;
}
#square17-16{
grid-row:17/18;
grid-column:16/17;
}
#square17-17{
grid-row:17/18;
grid-column:17/18;
}
#square17-18{
grid-row:17/18;
grid-column:18/19;
}
#square17-19{
grid-row:17/18;
grid-column:19/20;
}
#square17-20{
grid-row:17/18;
grid-column:20/21;
}
#square18-1{
grid-row:18/19;
grid-column:1/2;
}
#square18-2{
grid-row:18/19;
grid-column:2/3;
}
#square18-3{
grid-row:18/19;
grid-column:3/4;
}
#square18-4{
grid-row:18/19;
grid-column:4/5;
}
#square18-5{
grid-row:18/19;
grid-column:5/6;
}
#square18-6{
grid-row:18/19;
grid-column:6/7;
}
#square18-7{
grid-row:18/19;
grid-column:7/8;
}
#square18-8{
grid-row:18/19;
grid-column:8/9;
}
#square18-9{
grid-row:18/19;
grid-column:9/10;
}
#square18-10{
grid-row:18/19;
grid-column:10/11;
}
#square18-11{
grid-row:18/19;
grid-column:11/12;
}
#square18-12{
grid-row:18/19;
grid-column:12/13;
}
#square18-13{
grid-row:18/19;
grid-column:13/14;
}
#square18-14{
grid-row:18/19;
grid-column:14/15;
}
#square18-15{
grid-row:18/19;
grid-column:15/16;
}
#square18-16{
grid-row:18/19;
grid-column:16/17;
}
#square18-17{
grid-row:18/19;
grid-column:17/18;
}
#square18-18{
grid-row:18/19;
grid-column:18/19;
}
#square18-19{
grid-row:18/19;
grid-column:19/20;
}
#square18-20{
grid-row:18/19;
grid-column:20/21;
}
#square19-1{
grid-row:19/20;
grid-column:1/2;
}
#square19-2{
grid-row:19/20;
grid-column:2/3;
}
#square19-3{
grid-row:19/20;
grid-column:3/4;
}
#square19-4{
grid-row:19/20;
grid-column:4/5;
}
#square19-5{
grid-row:19/20;
grid-column:5/6;
}
#square19-6{
grid-row:19/20;
grid-column:6/7;
}
#square19-7{
grid-row:19/20;
grid-column:7/8;
}
#square19-8{
grid-row:19/20;
grid-column:8/9;
}
#square19-9{
grid-row:19/20;
grid-column:9/10;
}
#square19-10{
grid-row:19/20;
grid-column:10/11;
}
#square19-11{
grid-row:19/20;
grid-column:11/12;
}
#square19-12{
grid-row:19/20;
grid-column:12/13;
}
#square19-13{
grid-row:19/20;
grid-column:13/14;
}
#square19-14{
grid-row:19/20;
grid-column:14/15;
}
#square19-15{
grid-row:19/20;
grid-column:15/16;
}
#square19-16{
grid-row:19/20;
grid-column:16/17;
}
#square19-17{
grid-row:19/20;
grid-column:17/18;
}
#square19-18{
grid-row:19/20;
grid-column:18/19;
}
#square19-19{
grid-row:19/20;
grid-column:19/20;
}
#square19-20{
grid-row:19/20;
grid-column:20/21;
}
#square20-1{
grid-row:20/21;
grid-column:1/2;
}
#square20-2{
grid-row:20/21;
grid-column:2/3;
}
#square20-3{
grid-row:20/21;
grid-column:3/4;
}
#square20-4{
grid-row:20/21;
grid-column:4/5;
}
#square20-5{
grid-row:20/21;
grid-column:5/6;
}
#square20-6{
grid-row:20/21;
grid-column:6/7;
}
#square20-7{
grid-row:20/21;
grid-column:7/8;
}
#square20-8{
grid-row:20/21;
grid-column:8/9;
}
#square20-9{
grid-row:20/21;
grid-column:9/10;
}
#square20-10{
grid-row:20/21;
grid-column:10/11;
}
#square20-11{
grid-row:20/21;
grid-column:11/12;
}
#square20-12{
grid-row:20/21;
grid-column:12/13;
}
#square20-13{
grid-row:20/21;
grid-column:13/14;
}
#square20-14{
grid-row:20/21;
grid-column:14/15;
}
#square20-15{
grid-row:20/21;
grid-column:15/16;
}
#square20-16{
grid-row:20/21;
grid-column:16/17;
}
#square20-17{
grid-row:20/21;
grid-column:17/18;
}
#square20-18{
grid-row:20/21;
grid-column:18/19;
}
#square20-19{
grid-row:20/21;
grid-column:19/20;
}
#square20-20{
grid-row:20/21;
grid-column:20/21;
}*/
